body {
  background-color: rgb(134, 38, 51); /* Set the background color of the whole page */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}

.button {
  background-color: #fff; /* Change button background color to white */
  color: rgb(245, 244, 244); /* Change button text color */
  text-align: center;
  padding: 10px 15px;
  border: 0.5px solid black; /* Add an outline */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: #fff; /* Change text color to white */
  text-decoration: underline;
}

.banner {
  position: relative; /* Ensure the banner acts as a container for its contents */
  height: 200px; /* Adjust the height as needed */
  background-color: rgba(134, 38, 51, 0.5); /* Example: semi-transparent background color */
}

.banner img {
  width: 100%; /* Ensure the image fills the entire banner */
  height: 348px; /* Maintain aspect ratio */
}

.banner h1 {
  position: absolute; /* Position the title inside the banner */
  top: 20%; /* Adjust the vertical position */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the title precisely */
  color: rgb(23, 166, 174); /* Text color */
  z-index: 2; /* Ensure the title is on top of the buttons */
}

.button-container {
  position: absolute; /* Position the buttons inside the banner */
  bottom: 20px; /* Adjust as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center the buttons horizontally */
  z-index: 1; /* Ensure the buttons are behind the title */
}

.button-container .button {
  margin: 0 5px; /* Add spacing between buttons */
  background-color: rgb(94, 94, 94); /* Set button background color to white */
  color: rgb(23, 166, 174); /* Set button text color */
  border: 0.5px solid black; /* Add an outline */
  border-radius: 5px;
}
